<ion-app>
  <ion-content>
    
  <h1 align="center">Calculadora Ionic</h1>
    
      <ion-item >
        <ion-label position="floating" >Primeiro número</ion-label>
        <ion-input type="text" value="0" [(ngModel)]="num1" ></ion-input>
      </ion-item>
 
      <ion-item >
        <ion-label position="floating" >Segundo número:</ion-label>
        <ion-input type="text" value="0" [(ngModel)]="num2" ></ion-input>
      </ion-item>
 

  <ion-button expand="full" (click)="somar()">Somar</ion-button>

 
  <ion-input type="text" readonly value={{resultado}}></ion-input>

  </ion-content>
</ion-app>
